{% extends "layout.html" %}
{% block body %}
  <h2>{{_('Resources')}}</h2>

  <h3>{{_('For Teachers')}}</h3>
  <ul>
    <li>MTB-MLE Resources</li>
    <li>How to create a storybook</li>
  </ul>

  <h3>{{_('For Parents')}}</h3>
  <ul>
    <li>How to read to your child</li>
    <ul>
      <li><a href="https://www.facebook.com/watch/?v=423653815992264">“Once Upon a Time” Storytelling Contest! Entry #1</a> - Gasa Mutya A. Bande</li>
      <li><a href="https://www.youtube.com/watch?v=TGvnSwyZArg">Epektibong Pagkukuwento</a> - OVP BAYANIHAN e-SKWELA</li>
    </ul>
  </ul>

{% endblock %}
